@font-face {
  font-family: "Gotham Bold";
  src: url("../fonts/Gotham-Bold.otf") format("opentype"),
       url("../fonts/Gotham-Bold.woff") format("woff");
}

@font-face {
  font-family: "Gotham Bold Italic";
  src: url("../fonts/Gotham-BoldItalic.otf") format("opentype"),
       url("../fonts/Gotham-BoldItalic.woff") format("woff");
}

@font-face {
  font-family: "Gotham Book";
  src: url("../fonts/Gotham-Book.otf") format("opentype"),
       url("../fonts/Gotham-Book.woff") format("woff");
}

@font-face {  
  font-family: "Gotham Book Italic";
  src: url("../fonts/Gotham-BookItalic.otf") format("opentype"),
       url("../fonts/Gotham-BookItalic.woff") format("woff");
}

@font-face {
  font-family: "Gotham Light";
  src: url("../fonts/Gotham-Light.otf") format("opentype"),
       url("../fonts/Gotham-Light.woff") format("woff");
}

@font-face {
  font-family: "Gotham Light Italic";
  src: url("../fonts/Gotham-LightItalic.otf") format("opentype"),
       url("../fonts/Gotham-LightItalic.woff") format("woff");
}

@font-face {
  font-family: "Gotham Medium";
  src: url("../fonts/Gotham-Medium.otf") format("opentype"),
       url("../fonts/Gotham-Medium.woff") format("woff");
}

@font-face {
  font-family: "Gotham Medium Italic";
  src: url("../fonts/Gotham-MediumItalic.otf") format("opentype"),
       url("../fonts/Gotham-MediumItalic.woff") format("woff");
}